################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ex001/x64/Debug
/.vs/tutorial_clang/v16
/Debug
/ex001/Debug
/ex002/Debug
*.user
/ex003/Debug
/ex004/Debug
/ex005/Debug
/ex006/Debug
/ex011/Debug
/ex011/x64/Debug
/x64/Debug
*.filters
/ex012/x64/Debug
/ex013/x64/Debug
/ex014/x64/Debug
/ex015/x64/Debug
/ex016/x64/Debug
/ex021/x64/Debug
/ex002/x64/Debug
/ex003/x64/Debug
/ex004/x64/Debug
/ex005/x64/Debug
/ex006/x64/Debug
/ex008/x64/Debug
/ex009/x64/Debug
/ex010/x64/Debug
/ex011/x64/Release
/ex012/x64/Release
/ex013/x64/Release
/ex014/x64/Release
/ex017/x64/Debug
/x64/Release
